<h1>Thank you for your order, <%= @order.email %></h1>
  <p>
    You have successfully ordered from Jungle.
    <h2>Your order id is: <em><%= @order.id %></em><h2>
  </p>
<p>Thanks for choosing jungle and have a great day!</p>